@(formHackfest: Form[Hackfest])(lastUserName : String)
@import helper._

@main(lastUserName){
  @helper.form(routes.Application.cadastraHackfest) {
  
  		<br>
  		<br>  
  		<br>      

		
	<div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Login</h2>
        @inputText(formHackfest("nome"), '_label -> "Nome do Hackfest:  ")
        @inputText(formHackfest("descricao"), '_label -> "Descricao do evento:  ")
        @inputText(formHackfest("tema"), '_label -> "Tema do evento:  ")
        @inputText(formHackfest("data"), 'placeholder -> "yyyy-mm-dd", '_label -> "Data do evento:  ")
        <input class="btn btn-primary" type="submit">
      </form>
      
      <br><p class="text-muted"> <br> <br>Use <code>admin</code> se voce for o administrador da pagina.<br>
      Suas informacoes serao salvas no site pelo seu nome de usuario.
      </p>

    </div> <!-- /container -->
}
 }