@(hacks: List[Hackfest])(lastUserName : String)
 
@main(lastUserName){
	<br>
	<br>
	<br>
	<h2 class="section-heading" align="center"><code>&raquo;Hackfests divulgados</code></h2>
	
	@if(hacks.isEmpty){
		    <h3 align="center">Nao ha nenhum evento cadastrado.</h3>
		  } else {
		    
		     
		    @for(hack <- hacks){
		      
		      <div class="list-group">
				  <a href="#" class="list-group-item active">
				  
				    <h4 class="list-group-item-heading">Nome: @hack.getNome</h4>
				    <p class="list-group-item-text">Descricao: @hack.getDescricao</p>
				    <p class="list-group-item-text">Tema: @hack.getTema</p>
				    <p class="list-group-item-text">Data: @hack.getData</p>
				    <p class="list-group-item-text">Presencas confirmadas: @hack.getUsuarios.size</p>
				  </a>
				  
				  <a href="@routes.Application.confirmaPresenca(hack.getId())">Confirmar</a>
				  
				</div>
				
		      
		      
		    }
		    
			  
		}
}
		
	




